@font-face {
    font-family: "Diogenes";
    src: url(/diogenes.ttf);
    /* font from https://www.dafont.com/diogenes.font */
}

:root {
    --light-brown: #c1a460;
    --table-light: #b49858;
    --table-dark: #a78c51;
    --dark-brown: #8e7846;
    --background: #dfc68d;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background);
}

#container {
    padding: 5px;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

#top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 5px;
}

header {
    background-color: var(--dark-brown);
    padding: 5px;
}

h1,
h3 {
    margin: 7px 5px;
}

#home {
    font-size: 3rem;
    font-family: "Diogenes";
    color: black;
    text-decoration: none;
}

#home:hover {
    color: black;
}

#root {
    display: flex;
    flex-direction: column;
}

footer {
    padding: 15px;
    background-color: var(--dark-brown);

    display: flex;
    flex-direction: column;
    align-items: center;
}
