:root {
    --post-light: #b49858;
    --post-dark: #a78c51;
    --link: #5b4c2c;
    --link-hover: #816b3e;
    --quote: #9a7e49;
}

#root {
    gap: 5px;
}

.post-header {
    padding: 5px;
    background-color: var(--post-dark);
}

.message-container {
    padding: 15px 10px;
    background-color: var(--post-light);

    font-size: 1.2rem;
}

hr {
    border-color: var(--post-dark);
}

a {
    color: var(--link);
}

a:hover {
    color: var(--link-hover);
}

.quote {
    display: inline-block;
    margin: 5px 5px;
    padding: 5px;
    background-color: var(--quote);
}
